
/* music_reserve */
#reserv{
    margin-bottom: 25%;
}
















@media screen and (min-width: 1200px) {
    .footer {
      font-size: 16px;
      padding: 30px 15px;
    }
  }
  
  /* Medium devices (tablets, between 768px and 1199px) */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer {
      font-size: 14px;
      padding: 25px 15px;
    }
  }
  
  /* Small devices (portrait tablets, large phones, between 481px and 767px) */
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .footer {
      font-size: 14px;
      padding: 20px 10px;
    }
  }
  
  /* Extra small devices (phones, less than 480px) */
  @media screen and (max-width: 480px) {
    .footer {
      font-size: 12px;
      padding: 20px 5px;
    }
  }